<div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <i class="devicon-html5-plain-wordmark colored "></i>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <p>I have some experience building web sites with HTML5, Bootstrap and Materializecss</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-android-plain-wordmark colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-csharp-line-wordmark colored"></i>
    <i class="devicon-python-plain-wordmark colored"></i>

    <p>Also, i have expirience developing Android applications with Java, Kotlin and recently i started to develop in Flutter. My favorite programming language is python even though i've never used it in a profesional project. And  in my daily work i use PHP.</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain-wordmark colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <p>Like the most developers, i use Git and Github to work more eficiently and make more ordered my work</p>
  </div>
</div>